Makefile
Makefile.in
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/configure
/configure.scan
/depcomp
/install-sh
/missing
/config.log
/config.status
/*.tar.gz

/src/*.o
/src/.deps
/src/config.h
/src/config.h.in
/src/config.h.in~
/src/stamp-h1
/src/addrwatch
/src/addrwatch_mysql
/src/addrwatch_stdout
/src/addrwatch_syslog

TAGS
